.BottomSheet-view {
  /* SELF-LAYOUT */
  z-index: 20;
  /* Adding 60px to make it fully visible below iOS Safari's bottom UI */
  height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.BottomSheet-content {
  /* SELF-LAYOUT */
  width: 90%;
  max-width: 710px;
  height: auto;
  min-height: 200px;

  /* RESPONSIVE */
  @media (min-width: 768px) {
    width: 80%;
  }
}

.BottomSheet-bleedingBackground {
  /* APPEARANCE */
  border-radius: var(--radius-7);
  /* background-color: white; */
  box-shadow: var(--shadow-4);
}
